{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}My Flask App{% endblock %}


{% block page_content %}
<!--<div class="container">-->
    <div class="page-header">
        <h1>Hello, {% if name %}{{name}}{%else%}Stranger{%endif%}!</h1>
        <p>Last update: {{ moment(current_time).format('LLL') }}.</p>
        <p>{{ moment(current_time).fromNow(refresh=True) }}</p>
    </div>
{{ wtf.quick_form(form) }}

<!--</div>-->
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
